html {
  font-size: 10px;
  background: url(https://literaryyard.files.wordpress.com/2015/01/crowd.jpg) bottom center;
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  background: rgba(0, 0, 0, 0.4);
  border: 4px solid black;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem .5rem;
  text-align: center;
  text-shadow: 0 0 5px black;
  transition: all 0.07s;
  width: 100px;
}

.playing {
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
  transform: scale(1.1);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}